.cart{
    display: flex;
    gap: 20px;
    margin: 20px;
}
.cart-left{
    background: #fff;
    padding: 20px;
}
.cart-left h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.cart-left hr{
    border: none;
    height: 1px;
    background: #dadada;
}
.product-cart-list{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 24px 0 12px 12px;
}

.cart-titleprice{
    display: flex;
    gap: 20px;
    font-size: 18px;
}
.cart-bestseller{
    font-size: .8rem;
    margin-top: 10px;
}
.cart-bestseller span{
    font-size: .9rem;
    background: #c45500;
    color: #fff;
    padding: 3px 8px;
}
.product-cart-stock{
    font-size: 1rem;
    color: #007600;
    margin: 4px 0;
}
.product-cart-delivery{
    font-size: 1.1rem;
    color: #007185;
    font-weight: 600;
}
.cart-giftoption{
    color: #494949;
    font-size: 1rem;
    margin: 3px 0;
}

.cart-specs{
     max-width: 150px;
     display: grid;
     grid-template-columns: auto auto;
     row-gap: 3px;
     font-size: .9rem;
     margin: 3px 0;
}
.cart-action{
    display: flex;
    gap: 12px;
    font-size: 1rem;
    color: #007185;
}
.cart-action hr{
    height: 1.2rem;
    width: 1px;
    background: #cfcfcf;
}
.cart-action select{
    padding: 5px;
    border-radius: 6px;
    background: #f3f3f3;
}
.list-subtotal{
    text-align: right;
    font-size: .764rem;
    margin-top:10px;
}
.cart-right{
    background: #fff;
    padding: 1.3rem;
    max-height: 220px;
    min-width: 280px;
}
.free-delivery{
    display: flex;
    font-size: 1.2rem;
}
.cart-subtotal{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
.right-gift{
    margin: 7px 0;
    font-size: 1rem;
}
.cart-right button{
    width: 100%;
    height: 32px;
    margin: 15px 0;
    background: #ffd814;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: ease .2s;
}
.cart-right button:hover{
    background: #ebc712;
}
.footer-cart{
    margin-top: 50px;
}
/* ======================= */
@media only screen and (max-width:900px){
    .cart{
        flex-wrap: wrap;
    }
    
    
}
@media only screen and (max-width:600px){
    .product-cart-list{
        padding: 24px 0;
    }
    .product-cart-list img{
        width: 80px;
    }
    .cart-titleprice{
        flex-wrap: wrap;
        
    }
    .action-btn:nth-last-child(1), hr:nth-last-child(2), .action-btn:nth-last-child(3), hr:nth-last-child(4){
         display: none !important; 
        
    }
    .cart-right{
        max-width: 100%;
    }
    
    
}