@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --body_bg:#dadada;
    --nav_bg:#131921;
    --white:#ffff;
    --amazon_cl:#ffd64f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins';
}

body{
background: var(--body_bg);
font-family:'Poppins' sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav_bg);
    padding: 10px 20px;
    color:var(--white);
}

.nav-country{
    margin-left: 15px;
    display: flex;
    align-items: end;
    font-size: 1rem;
    color: #c4c4c4;
}

.nav-country h1{
    color: var(--white);
    font-size: 1rem;
}
.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: var(--white);
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 1.1rem;
}
.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;
}
.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}
.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background-color: var(--amazon_cl);
    border-radius: 0 4px 4px 0;
}
.nav-language{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 2px;
    font-weight: 600;
}
.nav-text{
    margin-left: 1.1rem;
}
.nav-text p{
font-size: 10px;
}
.nav-text h1{
    font-size: 14px;
}
.nav-bottom{
    padding: .6rem 1rem;
    display: flex;
    gap: 1.1rem;
    align-items: center;
    background: #232f3e;
    color: var(--white);
    font-size: 1rem;
}
.nav-bottom div{
    display: flex;
    gap: .4rem;
    align-items: center;
}


.header-slider ul{
    display: flex;
    overflow-y: hidden;

}
.header-slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

}
.control-next{
    right: 0;
}
.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom,#000000 50%, blue 100%);
}

/* box-row ============*/
.box-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.1rem;
    margin: 1rem 1.4rem;
}
.box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    max-width: 24%;
    min-height: 200px;
    background: var(--white);
    z-index: 1;
}
.box-col a{
    font-size: 13px ;
    color: #009999;
    font-weight: 500;
}
.header-box{
    margin-top: -15vw;
}

.products-slider{
    background: var(--white);
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}

.products-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}

.products-slider .products img{
    max-width: 200px;
    max-height: 150px;
}
.products-slider .products::-webkit-scrollbar{
    display: none;
}
.products-slider-with-price{
    background: var(--white);
    padding: 20px;
    margin-bottom: 15px;
    margin: 0 30px;

}
.products-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}

.product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfbfb;
    padding: .5rem;
}
.products-slider-with-price .products::-webkit-scrollbar{
    display: none;
}
.product-card img{
    width: 110px;
    margin: 0 50px;
}
.product-offer p{
    background: #be0b3b;
    color: var(--white);
    display: inline;
    padding: .01rem;
}
.product-offer span{
    color: #be0b3b;
    font-weight: 500;
    font-size: 12px;
}
.product-price{
    color: gray;
    font-size: 13px;
}
.product-card h4{
    color: #525252;
    font-size: 15px;
    font-weight: 400;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #131921;
    color: var(--white);
    padding: 20px 60px;
}

/* reponsive part */
@media only screen and (max-width:900px){
    nav{
        flex-wrap: wrap;
    }
    .nav-search{
        order: 7;
        margin: 15px 0 5px;
        min-width: 300px;
    }
    .box-col{
        max-width: 48%;
    }
}
@media only screen and (max-width:600px){
    .nav-country, .nav-language, .nav-text,  .nav-bottom::-webkit-scrollbar, .nav-cart h4{
        display: none;
    }
    .nav-bottom{
        font-size: 14px;
        gap: 10px;
        overflow-x: scroll;
    }
    .mobile-user{
        display: flex !important;
        flex: 1;
        justify-content: flex-end;
    }
    .mobile-user img{
        width: 30px;
        margin-right: 7px;
    }
   .nav-cart img{
        width: 28px;
   }
   .header-slider a{
    top: 21%;
    padding: 2vh 1vw;
    font-size: 15px;
   }
   .box-col{
    max-width: 100%;
    width: 100%;
   }
   footer{
    justify-content: center;
    flex-direction: column;
   }
}